        <footer class="footer">
            <p>&copy; CAPITAL 2016</p>
        </footer>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script>

		
			var socket = io('https://finance-games.herokuapp.com/');
			
			$("#btnSignUp").click(function() {
				socket.emit('register', $("#inputName").val(), $("#inputEmail").val(), $("#inputPassword").val());
			});
			
			socket.on('registerErrorExists', function() {
				alert('This login already exists');
			});
			
			socket.on('registerError', function() {
				alert('There was some error');
			});
			
			socket.on('registerSuccess', function(id, name) {
				alert('Registered ' + id + ', ' + name);
			});
		</script>