	<div class="module jumbotron container" style="display: none;">
        <div id="leftCol">
            <table id="leftTable">
                <tr class="companyRow">
                    <td class="company"></td>
                </tr>
            </table>
        </div> 
      <div id="content"> 
        <div class="row">
            <h1 align="middle" id="logo"><img id="companyLogo" src="" alt="Logo"></h1>  
        </div>
        <div class="row" align="middle">
                    <p id="companyName"></p>
                <p id="companySymbol"></p>
        </div>
        <div class="row" align="middle">
            <div id="pros">
                <h2>Pros</h2>
                <ul class="proPoint" align="left">
                </ul>
            </div>
            <div id="cons">
                <h2>Cons</h2>
                <ul class="conPoint" align="left">
                </ul>
           </div>
        </div>
		<div style="background-color: red;" align="right" class="btn btn-primary fadeimg" onclick="next()">END</div>
       </div>
	</div>