      <div class="jumbotron">
        <h1>Financial literacy, the fun way.</h1>
		<form class="form-signin">
			<label for="inputName" class="sr-only">Name</label>
			<input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
			 
			<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" onclick="register()" type="button">Sign up</button>
		</form>
      </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Budgeting</h4>
                <p>Learn to manage your expenses in a fun an organized way, so you can finally buy that new phone you've been wanting.</p>
 
                <h4>Feature</h4>
                <p>Description goes here.</p>
 
                <h4>Feature</h4>
                <p>Description goes here.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Investing</h4>
                <p>Don't know anything about the stock market? The Finance Games teaches you what you need to know, step-by-step.</p>
 
                <h4>Feature</h4>
                <p>Description goes here.</p>
 
                <h4>Feature</h4>
                <p>Description goes here.</p>
            </div>
        </div>