		<div class="row" id="firstRow">
            <div class="container">
                <div class="col-sm-12" >
                    <div class="jumbotron">
                        <h1>Select a curriculum below:</h1>
                    </div>
                </div>              
            </div>
        </div>
        <div class="row" id="secondRow">
            <h1>What will you learn about today?</h1>
            <p>Select a curriculum to start learning.</p>
            <br>
            <a href="/budget">
                <div class="col-sm-3">
                    <img src="images/calculator-icon_120x120.png" style="margin-top:10px"/>
                    <h1>Budgeting</h1>
                    <p>Learn more about budgeting.</p> 
               </div>
            
            </a>
            <a href="/invest">
                <div class="col-sm-3">
                    <img src="images/oie_transparent_1_130x130.png" />
                    <h1>Investing</h1>
                        <p>Learn more about investing.</p>
               </div>
                </a>
            </div>
	    </div>