<div class="well">
	<p style="display: none;" id="text"></p>
    <iframe style="display: none;" id="video" width="1000" height="515" src=""></iframe>
	<h1 id="questionTitle" style="display: none;" align="middle">Title 1</h1>
	<p id="question" style="display: none;" align="middle">This is the hardest question ever. Are you ready?</p>
	<div class="btn btn-primary" onclick="prev()" id="prev">PREVIOUS</div>
	<div class="btn btn-primary" onclick="next()" id="next">NEXT</div>
</div>
 