<div class="well">
	<p style="display: none;" id="text"></p>
    <iframe style="display: none;" id="video" width="1000" height="515" src=""></iframe>
	<div class="btn btn-primary" onclick="prev()" id="prev">PREV</div>
	<div class="btn btn-primary" onclick="next()" id="next">NEXT</div>
</div>
 