
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
					<li id="signup" role="presentation" class="active fadeimg"><a href="javascript:signup()"><span class="glyphicon glyphicon-home"></span>Sign Up</a>
                    </li>
                    <li id="signin" role="presentation" class="fadeimg"><a href="javascript:signin()"><span class="glyphicon glyphicon-home"></span>Sign In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="fadeimg"><img src="images/Drawing.png" alt="The Finance Games"/></h3>
        </div>
