		<div class="jumbotron storejumbo">
            <h1>Good things come to those who save.</h1>
            <p>Redeem your hard earned points for prizes from the brands you love.</p>
        </div>
        
        <div class="row" align="middle">
            <h1 align="middle"><strong>Learn more about the great prizes you can win!</strong></h1>
            <br>
            <br>
            <div class="col-sm-3">
                <img src="../images/air_miles_logo_120x110.jpg" alt="Air Miles"/>
                <h2 style="margin-top:10px">Air Miles: Reward Miles</h2>
                <p>The sky limit with Air Miles rewards.</p>
                <p><strong>50 Reward Points</strong></p>
            </div>
            <div class="col-sm-3">
                <img src="../images/SCENE_card_small.jpg" alt="SCENE"/>
                <h2>SCENE Movie Points</h2>
                <p>Watch the latest movies and eat popcorn.</p>
                <p><strong>10 Reward Points</strong></p>
            </div>
            <div class="col-sm-3">
                <img src="../images/mastercard_2_140x100.jpg" alt="MasterCard"/>
                <h2>Prepaid MasterCard</h2>
                <p>Master your finances and win great prizes.</p>
                <p><strong>35 Reward Points</strong></p>
            </div>
            <div class="col-sm-3">
                <img src="../images/Petro-Canada_logo.svg_2_130x100.jpg" alt="Petro Points"/>
                <h2>My Petro-Points</h2>
                <p>Fuel your need for desire for cool prizes.</p>
                <p><strong>20 Reward Points</strong></p>
            </div>
        </div>        