.btn {
    background-color: #222222;
    color: #9D9D7E;
    border: none;
    float:inherit;
}

.dropdown {
    position: relative;
}


#firstRow {
    background-color: darkseagreen;
    background-image: url("H4JsuO.gif");
      height: 400px;
    background-size: cover;    
}

.jumbotron {
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    color:dimgrey;
    
}

#secondRow div {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-right: 10px;
    left: 25%;
}

#secondRow div:hover {
    background-color: darkseagreen;
    border:1px solid darkseagreen; 
    border-radius: 5px;
    margin-right: 10px;
    left: 25%;
}

#secondRow {
    margin-top: 30px;
    text-align: center;    
}

a {
  text-decoration:none;
      color:rgb(51, 51, 51);

}

a:hover
{
  text-decoration:none;
      color: rgb(238, 238, 238);

}

.well {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	min-height: 100px;
	position: relative;
}

#quizWell {
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	min-height: 100px;
	position: relative;
}

iframe {
    width: 1000 px;
    height: 515 px;
    
}

body {
    margin-top: 40px;
    background-color: palegreen;    
}

form {
    left:50%;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

ul {
    list-style: none;
}

#next {
	margin: 5px 5px 5px 5px;
	position: absolute;
	bottom:0px;
	right:0px;
}



#prev {
	margin: 5px 5px 5px 5px;
	position: absolute;
	bottom:0px;
	right: 55px;
	
}

.pointchange {
	color: palegreen;
}