.btn {
    background-color: #222222;
    color: #9D9D7E;
    border: none;
    float:inherit;
}

.dropdown {
    position: relative;
}


#firstRow {
    background-color: darkseagreen;
    background-image: url("H4JsuO.gif");
      height: 400px;
    background-size: cover;    
}

.jumbotron {
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    color:dimgrey;
    
}

#secondRow div {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-right: 10px;
    left: 25%;
}

#secondRow div:hover {
    background-color: darkseagreen;
    border:1px solid darkseagreen; 
    border-radius: 5px;
    margin-right: 10px;
    left: 25%;
}

#secondRow {
    margin-top: 30px;
    text-align: center;    
}

a {
  text-decoration:none;
      color:rgb(51, 51, 51);

}

a:hover
{
  text-decoration:none;
      color: rgb(238, 238, 238);

}

.well {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	min-height: 240px;
	min-width: 600px;
	position: relative;
	box-shadow: 0 0 5px grey;
}

iframe {
	width: 90%;
	height: 90%;
	position: absolute;
    right: 5%;
    top: 5%;
}

body {
    margin-top: 40px;
    background-color: palegreen;    
}

form {
    left:50%;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.fadeimg{
    opacity:1;
    transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    -webkit-transition:opacity .25s ease-in-out
}
.fadeimg:hover{
    opacity:.8
}

ul {
    list-style: none;
}

.next {
	margin: 5px 5px 5px 5px;
	position: absolute;
	bottom:0px;
	right:0px;
}



.prev {
	margin: 5px 5px 5px 5px;
	position: absolute;
	bottom:0px;
	right: 55px;
	
}

.pointchange {
	color: palegreen;
}

.choiceWell {
	min-height: 10px;
	min-width: 500px;
	margin-top: 0 !important;
}

.storejumbo {
    background-image: url("../images/Loose-Change1.jpg");
    background-size: cover;
    color: white;
    text-shadow: 2px 2px #000000;
}

#whiteback {
    background-color: aliceblue;
}