<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/module.css">
</head>

<body>
  <div class="container">
    <% include ../partials/nav_main.ejs %>
	<% include ../partials/module.ejs %>
  </div>

  <% include ../partials/footer.ejs %>
  <% include ../partials/points.ejs %>
 		<script>
			// mode 0 = text, 1 = video, 2 = quiz
			var typ = 1;
			var data = [
				{mode: 0, content: 'Hooray! You have just been accepted to your dream university. You cannot wait to meet new friends, move out of home, and attend that Harry Potter class that everyone is talking about. You are feeling like you’re on cloud 9 until that letter came in…tuition payment. Tuition alone will be $15,000 per year. How do you plan to pay for it? Borrow money frm your parents, take a part time job, apply for OSAP and grants, investing your money, or applying for a bank loan, perhaps.'},
				{mode: 2, content: ['What is Budgeting?', 4, 'Keeping your finances on track.', 'Creating a plan to spend your money.', 'Forecasting how much money you will need to save for milestones in your life (i.e. wedding, mortgage, retirement, etc.).', 'All of the above.']},
				{mode: 1, content: 'https://www.youtube.com/embed/yKH0psvs0I4?autoplay=1'},
				{mode: 1, content: 'These are all different ways of financing your student debts. Each method comes with its pros and cons and is different depending on your situation. Now let’s learn about the different ways you can reach your goals.'},
				{mode: 1, content: 'Step 1 is defining your goals. You cannot get anywhere financially without first figuring out what you are trying to achieve with the resources that you have. We all have different priorities that we want to meet in our lives. What is important to you and how will you make that into a goal?'},
				{mode: 1, content: 'Step 2 is defining your current situation (incomes and expenses). It’s easy to determine how much money you earn in a month, but do you really know where these inflows go towards?'},
				{}
			];
			<% include ../partials/data.ejs %>
		</script>
</body>
</html>
