<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <% include ../partials/nav.ejs %>
	<% include ../partials/main.ejs %>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
