<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
</head>

<body>
  <div class="container">
    <% include ../partials/nav_main.ejs %>
	<% include ../partials/main.ejs %>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
