<% include ../partials/begin.ejs %>
  <title>The Finance Games - Learn</title>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
</head>

<body>
  <div class="container">
    <% include ../partials/nav_main.ejs %>
	<% include ../partials/main.ejs %>
  </div>

  <% include ../partials/footer.ejs %>
  <% include ../partials/points.ejs %>
  <% include ../partials/end.ejs %>
